@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

html,
body {
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

hr {
  padding: 0;
  margin: 0;
}

#__next {
  background: #5a5454;
  color: #fff;
}
