@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

:root {
  --primary-color: #282a36;
  --secondary-color: #fff;
}

.dark-theme {
  --primary-color: #fff;
  --secondary-color: #282a36;
}

html,
body {
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

hr {
  padding: 0;
  margin: 0;
}

#__next {
  background: var(--primary-color);
  color: var(--secondary-color);
}

.box {
  width: 100px;
  height: 100px;
  background: white;
}
