.container {
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.header {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 16px;
}

.header hr {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 40%;
}

.main {
  position: relative;
  margin-bottom: 26px;
  padding-top: 14px;
  padding-bottom: 32px;
  padding-left: 20%;
}

.main h1 {
  font-weight: 100;
  font-size: 56px;
}

.main h2 {
  font-weight: 100;
}

.main hr {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 70%;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}
