.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  font-weight: 100;
}

.container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
}

.container > div > h1 {
  margin: 26px 0;
  text-align: center;
}
